button{
    border: none;
    outline: none;
    cursor: pointer;
}

body{
    text-align: center;
}
.game{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    background: url(img/background.png) center/cover;
}
.game__button{
    width: 60px;
    height: 60px;
    background-color: wheat;
    border: 4px solid black;
    font-size: 24px;
    transition: transform 300ms ease-in;
}

.game__timer{
    width: 100px;
    background-color: white;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 32px;
    margin-top: 8px;
}

.game__score{
    text-align: center;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    font-size: 40px;
    background-color: darksalmon;
    color: white;
    border: 3px solid black;
    border-radius: 50%;
}
.game__button:hover{
    transform: scale(1.1);
}
.game__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game__field{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.pop-up{
    width: 400px;
    height: 140px;
    margin: auto;
    padding: 20px;
    background-color: #00000090;
    border-radius: 20px;
    color: white;
    text-align: center;
    transform: translateY(-150%);
}

.pop-up__hide{
    display: none;
}

.pop-up__refresh{
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 50%;

}

.pop-up__message{
    display: block;
    font-size: 38px;
    
}